.section__title {
  font-size: 28px;
  margin-bottom: 40px;
  padding-top: 50px; }

.section__subtitle {
  font-size: 18px;
  font-weight: 400;
  font-style: italic; }

.img img {
  border: 6px solid #dfe2e6; }

.aStep {
  margin-bottom: 40px;
  position: relative; }

.aStep:last-child {
  margin-bottom: 0; }

.aStep__desc {
  padding-left: 40px;
  position: relative; }

.aStep__part {
  margin-bottom: 20px; }

.aStep__part:last-child {
  margin-bottom: 0; }

.noMargin {
  margin-bottom: 0; }

.aStep__num {
  display: inline-block;
  border-radius: 1000px;
  background: #42e4b9;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffff; }

mark {
  background-color: #f1eeb2;
  padding: 2px 10px; }
